<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="EnerefsysEntities" connectionString="metadata=res://*/EnerefsysModel.csdl|res://*/EnerefsysModel.ssdl|res://*/EnerefsysModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\test.db3;password=admin&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="EnerefsysContext"
         connectionString="Data Source=D:/enerfsys.sdf"
         providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
</configuration>